@import url('https://fonts.goolgeapis.com/css?family=Roboto:400,500,700&display:swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    background:  rgb(138, 43, 226);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    transition: 0.2s;
}
button:hover{
    background:  rgb(98, 29, 162);
}
a {
    text-decoration: none;
}
.all-lists-container, .list-container{
    width: 100%;
    margin: 32px 0;
}
.all-lists-container section.list, .list-container section.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-lists-container section.list .title-box, .list-container section.list .title-box {
    width: 100%;
}

.all-lists-container section.list .title-box h1, .list-container section.list .title-box h1 {
    color: #717171;
    text-align: center;
    font-size: 30px;
}
.all-lists-container section.list .actions-box, .list-container section.list .actions-box {
    width: 50%;
    display: flex;
}
.all-lists-container section.list .actions-box{
    margin-right: 50px;
    flex-flow: row-reverse;
    height: 50px;
}